[submodule "external/dibidab-engine"]
	path = external/dibidab-engine
	url = https://github.com/dibidabidab/dibidab-engine.git
[submodule "external/reactphysics3d"]
	path = external/reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d.git
[submodule "external/im3d"]
	path = external/im3d
	url = https://github.com/john-chapman/im3d.git
